<div class="row">
	<h3>NerdBeers (tm) Extranet Team Enterprise Admin Portal: </h3>
  <div class="col-md-4">
<h1>Agendas (<%= @agendas.size %>) <a href="/mgmt/agendas/new" class="btn btn-xs btn-primary">New Agenda</a></h1>
<table class="table">
	<% @agendas.each do |a|%>
	<tr><td><%= a.meeting_date.strftime("%m/%d/%y") %> </td><td><%= a.topic1 %></td>
		<td><a href="/mgmt/agendas/<%= a.id %>">Details</a></td>
	<% end %>
</table>
	</div>
  <div class="col-md-4">
<h1>Venues (<%= @venues.size %>) <a href="/mgmt/venues/new" class="btn btn-xs btn-primary">New Venue</a></h1>
<table class="table">
	<% @venues.each do |v|%>
	<tr><td><%= v.venue %> </td><td><a href="/mgmt/venues/<%= v.id %>">Details</a></td>
	<% end %>
</table>
	</div>
</div>
<hr/>
