<% if @agenda.nil? %>
	<h1>OMG! There is no agenda! Contact NerdBeers HQ immediately</h1>
<% else %>

<h2><%= @agenda.meeting_date.strftime("%B %Y") %> details</h2><br/>

<table class="table">
	<tr><th>topic</th><th>beer</th></tr>
		<tr><td><i class="fa fa-wrench fa-2x" /> <%= @agenda.topic1 %></td><td><i class="fa fa-beer fa-2x" /> <%= @agenda.beer1 %></td></tr>
		<tr><td><i class="fa fa-wrench fa-2x" /> <%= @agenda.topic2 %></td><td><i class="fa fa-beer fa-2x" /> <%= @agenda.beer2 %></td></tr>
		<tr><td><i class="fa fa-wrench fa-2x" /> <%= @agenda.topic3 %></td><td><i class="fa fa-beer fa-2x" /> <%= @agenda.beer3 %></td></tr>
</table>
<br/>
<p>
	<b>When:</b> <%= @agenda.meeting_date.strftime("%a, %B %d %I:%M%p") %><br/>
	<b>Where:</b> <a href='<%= @agenda.map_link %>' ><%= @agenda.venue_name %></a>
</p>

<% end %>
<input id="variant" type="hidden" value="tablet"/>