	<h2>Your meeting Details:</h2><br/>
	<p>Date: <%= @agenda.meeting_date %><br/>
		Topic1: <%= @agenda.topic1 %><br/>
	   Topic2: <%= @agenda.topic2 %><br/>
	   Topic3: <%= @agenda.topic3 %><br/>
	   Beer1: <%= @agenda.beer1 %><br/>
	   Beer2: <%= @agenda.beer2 %><br/>
	   Beer3: <%= @agenda.beer3 %><br/>
	   Venue: <%= @agenda.venue_name %>
	 </p>
</div>

<hr />
<a href="/mgmt/">back</a>