	<h2>Your meeting Details:</h2><br/>
<form class="form-inline" role="form" action="/mgmt/updateagenda" method="post">
	<%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
	<input type="hidden" name="agenda_id" value=<%= @agenda.id %> />
	  <div class="form-group">
	    <label for="meetingDate">Date:</label>
	    <input type="date" class="form-control" id="meetingDate" placeholder="<%= @agenda.meeting_date %>">
	  </div>
	  <br/>
	  <div class="form-group">
	    <label for="topic1">Topic1:</label>
	    <input type="text" class="form-control" id="topic1" name="topic1" value="<%= @agenda.topic1 %>">
	  </div>
	  <div class="form-group">
	    <label for="topic2">Topic2:</label>
	    <input type="text" class="form-control" id="topic2" name="topic2" value="<%= @agenda.topic2 %>">
	  </div>
	  <div class="form-group">
	    <label for="topic3">Topic3:</label>
	    <input type="text" class="form-control" id="topic3" name="topic3" value="<%= @agenda.topic3 %>">
	  </div><br/>
	  <div class="form-group">
	    <label for="beer1">Beer1:</label>
	    <input type="text" class="form-control" id="beer1" name="beer1" value="<%= @agenda.beer1 %>">
	  </div>
	  <div class="form-group">
	    <label for="beer2">Beer2:</label>
	    <input type="text" class="form-control" id="beer2" name="beer2" value="<%= @agenda.beer2 %>">
	  </div>
	  <div class="form-group">
	    <label for="beer3">Beer3:</label>
	    <input type="text" class="form-control" id="beer3" name="beer3" value="<%= @agenda.beer3 %>">
	  </div>
	  <br/>
	   Venue: <%= @agenda.venue ? @agenda.venue.venue : 'Not Set' %><br/>
	   <button type="submit" class="btn btn-default">Submit</button>	   
   </form>
	 </p>
</div>

<hr />
<a href="/mgmt/">back</a>
